@font-face {
  font-family: 'CyberFont';
  src: url('/assets/fonts/Varino.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience h1 {
  font-family: 'CyberFont';
  font-size: 5rem;
  user-select: none;
}

.neon {
  display: none;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pulse {
  -webkit-animation-name: pulse-loop-data;
  animation-name: pulse-loop-data;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

body.loaded .neon {
  display: block;
}

@-webkit-keyframes pulse-loop-data {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ffffff;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.credits a {
  color: inherit;
}
